#imageFace {
    background: url(../images/face.jpg);
    height: 300px;
    width: 200px;
    float: left;
    margin: 0 30px 0 0;
  }
  #imageFace.face1 {
      background-position: 0 0; 
  }
  #imageFace.face8 {
      background-position: -200px 0; 
  }
  #imageFace.face7 {
      background-position: -400px 0; 
  }
  #imageFace.face6 {
      background-position: -600px 0; 
  }
  #imageFace.face5 {
      background-position: 0 -300px; 
  }
  #imageFace.face2 {
      background-position: -200px -300px; 
  }
  #imageFace.face3 {
      background-position: -400px -300px; 
  }
  #imageFace.face4 {
      background-position: -600px -300px; 
  }
  #underscores {
      margin: 10px 0 30px;
  }